/*E9F1F7 DCEDFF 009DDC 009B72 FDECEF*/
html {
  scroll-behavior: smooth;
}

.navbar {
	font-size: 1.25rem;
	background-color: #fff;
	height: 10vh;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.nav > a {
	line-height: 7.5vh;
	color: #846075;
}

#theme-toggle	 {
	text-decoration: none;
	padding: 2rem 1rem;
	transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s
}

#theme-toggle:hover {
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
	text-decoration: none;
	padding: 2rem 1rem;
}

nav.navbar.shrink {  
	height: 5vh;
}

nav.navbar.shrink#theme-toggle:hover {
	padding: .5rem .25rem;
}

#bio {
    background-color: #383F51; /*OR #414770*/
}

.landing-block {
	height:100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.section-block {
	display: flex;
	flex-direction: column;
	min-height:123vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.bio-row {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#bio-photo {
	border-radius: 50%;
}

#bio-text {
	text-align: center;
	font-family: Montserrat;
	color: #ED474A;
}

#name {
	margin-top: 0;
	font-weight: bold;
	font-size: 3rem;
	border: 2.5px solid #ED474A; /*animate drawing of border*/
	display: inline;
	padding: 4px 8px;
	/*border-radius: 25%; creates a kinda cool effect, but may not be what I am going for*/
}
 

#title-line {
	margin-top: 2.5%;
}

#arrow-container {
	width: 100%;
	text-align: center;
}

.fa-chevron-down {
	position: relative;
	animation: bouncearrow 2s 1;
		-webkit-transform: scale(3.5, 3); 
		-moz-transform: scale(3.5, 3); 
		-ms-transform: scale(3.5, 3); 
		-o-transform: scale(3.5, 3);
	cursor: pointer;
	color: #ED474A;
}

@keyframes bouncearrow {
	0% {top: 0px;}
	25% {top: 20px;}
	50% {top: 0px;}
	75% {top: 10px;}
	100% {top: 0px;}
}

.headers {
	padding-top: 5%;
	text-align: center;
	color: #383F51;
	font-size: 3rem;
}

#portfolio-block {
	background-color: #ED474A;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2.5%;
}

.project-card {
	flex: 0 25%;
	background-color: #383F51;
	color: #ED474A;
	min-height: 400px;
	margin-right: 2%;
	margin-bottom: 2%;	
	transition: box-shadow .4s;
	box-shadow: 0 0 2px;
	text-align: center;
	padding: 2% 2% 0 2%;
	border-radius: 5%;
}

.project-card:hover {
	box-shadow: 0 0 11px;
	cursor: pointer;
}

.project-card-header {
	margin-top: 25%;
}

.img-wrapper {
	height: 40%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	border-radius: 5%;
}


.img-wrapper img {
	height: auto;
	width: 100%;
	border-radius: 5%;
}

.icon {
  font-size: .9rem;
  display: inline-flex;
  background-color: #DDDBF1;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
  max-height: 7%;
  border-radius: 5px;
  padding: 2.5%;
}

.exp-section{
	background-color: #fff;
}

#connect-block {
	text-align: center;
	padding: 1rem 0;
	margin-top: 2.5%; 
	background-color: #88D9E6;
}

#connect-block h4 {
	color: #414770;
}

footer {
	background-color: #383F51;
	color: #ED474A;
}





