html {
  scroll-behavior: smooth;
}

.nav {
	font-size: 1.25rem;
	background-color: #005ba9;
	height: 10vh;
}

.nav a {

}

#theme-toggle {

}

#bio {
    background-color: #f4b93d;
}

.section-block {
	height:90vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.bio-row {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#bio-photo {
	border-radius: 50%;
}

#bio-text {
	text-align: center;
	font-family: Roboto;
}

#name {
	margin-top: 0;
}

.fa-chevron-down {
	position: relative;
	transform: scale(3.5,3);
	animation: bouncearrow 2s 1;
		-webkit-transform: scale(3.5, 3); 
		-moz-transform: scale(3.5, 3); 
		-ms-transform: scale(3.5, 3); 
		-o-transform: scale(3.5, 3);
	cursor: pointer;
}

@keyframes bouncearrow {
	0% {top: 0px;}
	25% {top: 20px;}
	50% {top: 0px;}
	75% {top: 10px;}
	100% {top: 0px;}
}

h4{
	text-align: center;
}

#connect-block {
	margin: 20px 0 0 0;
}

.project-container {
  display: flex;
/*  flex-direction: row;
  align-items: stretch;*/
  justify-content: center;
}

.project-card {
	max-width: 29%;
	min-height: 400px;
	margin-right: 2%;
	margin-bottom: 2%;	
	transition: box-shadow .4s;
	box-shadow: 0 0 2px;
	text-align: center;
}

.project-card:hover {
	box-shadow: 0 0 11px;
	cursor: pointer;
}

.project-card h1{

}

.icon {
  font-size: .9rem;
  display: inline-flex;
  background: #D8D8D8;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
  max-height: 7%;
  border-radius: 5px;
  padding: 5px 5px;
}

.react {
  background: #BAD5F5;
}

.express {
  background: #F2C986;
}

.node {
  background: #E1C1C1;
}

.python {
  background: #EADD86;
}

.django {
  background: #AFEAE5;
}




